.enter {
  max-height: 0;
}

.enterActive {
  max-height: 1000px;
  transition: max-height 500ms ease-in;
}

.leave {
  max-height: 1000px;
}

.leaveActive {
  max-height: 0;
  transition: max-height 300ms ease-in;
}