.selected_item {
  background-color: #E6E6E6;
}

.level0_content_container {
  padding-left: 4px;
}

.level1_content_container {
  padding-left: 24px;
}

.level2_content_container {
  padding-left: 44px;
}

.level3_content_container {
  padding-left: 64px;
}

.level4_content_container {
  padding-left: 84px;
}