.button {
  cursor: pointer;
  text-decoration: none;
  color: #343434;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  font-family: "Open Sans", serif;
  display: block;
}

.selected {
  font-weight: 700;
}

