@import "./colors";

%common-text {
  color: $common-text-color;
  font-size: 14px;
  font-family: "Open Sans", serif;
  letter-spacing: -0.1px;
  text-decoration: none;
  outline: none;
}

%common-bold-text {
  @extend %common-text;
  font-weight: 700;
  letter-spacing: -0.4px;
}