@import "../../../styles/colors";
@import "../../../styles/fonts";

.button {
  @extend %common-text;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
}

.selected {
  @extend %common-bold-text;
}

.selectedByKeyboard {
  color: $primary-color
}
