@import "../../../styles/fonts";

.title {
  @extend %common-text;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  padding-left: 20px;
}

.selected {
  @extend %common-bold-text;
}