@import "../../../styles/colors";

.container {
  background-color: $navigation-background-color;
  width: 300px;
  height: 100%;
}

.loader_item {
  background-color: $navigation-loader-item-color;
  width: 200px;
  height: 13px;
  margin: 10px
}
