@import "../../../styles/colors";
@import "../../../styles/fonts";

.container {
  padding: 12px;
}

.input {
  @extend %common-text;
  display: block;
  width: 100%;
  padding: 4px 4px;
  border: 1px solid $input-border-color;
  box-sizing: border-box;
}

.input:focus {
  border-color: $primary-color;
}