.menu-anchor-component_title {
    cursor: pointer;
    text-decoration: none;
    color: #343434;
    padding: 6px 5px 6px 0;
    outline: none;
    font-size: 14px;
    line-height: 19px;
}

.menu-anchor-component_title_selected {
    font-weight: 700;
    letter-spacing: -.55px;
}
